
.bt {
  text-decoration: none;
  color: black;
}

.margin_form {
  margin-left: 180px;
}

.margin_form_button {
  margin-left: 160px;
}

.margin_accordion {
  margin-right: 580px;
}

.showImage {
  height: 200px;
  width: 220px;

}

.red {
  color: red;
}
